*.iml
.gradle
/local.properties
/.idea
.DS_Store
build
/captures
.externalNativeBuild
.cxx
*.xcuserstate
*.xcbkptlist
xcuserdata/
!/.idea/codeStyles/*
!/.idea/inspectionProfiles/*
.build
Package.resolved
